h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Bison, sans-serif;
  letter-spacing: 0.03em;
}

.background {
  background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
  height: 30vh;
}
.heading {
  font-family: sans-serif;
  font-size: 3em;
  margin-left: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
}
.navbar {
  border: 2px solid;
  border-color: black;
  background: #000;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  text-align: center;
}
.outergrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.firstgrid {
  display: grid;
}
.firstgrid a {
  color: inherit;
}
.mark {
  background-color: yellow;
}
.button {
  padding: 1em;
  width: auto;
}

body {
  font-kerning: normal;
  word-wrap: break-word;
}
p.social a {
  margin-right: 1em;
  word-break: break-word;
  display: inline;
}
.video part {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  box-shadow: -3px 3px #000;
}
.blackgrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.secondblackgrid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.black {
  background-color: black;
  color: white;
}
.whitesection {
  background-color: white;
  color: black;
}
.blacksectiontwo {
  padding: 2em 10%;
  background-color: black;
  color: white;
  margin-bottom: 2em;
}

.allcourses {
  display: grid;
  grid-template-columns: 1fr;
}
.designer {
  border: 1px solid grey;
  text-align: left;
  margin-bottom: 1em;
  box-shadow: -3px 3px #000;
}
.corporate,
.programming {
  border: 1px solid grey;
  text-align: left;
  margin-bottom: 1em;
  box-shadow: -3px 3px #000;
}
.innerprogrammingdiv {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}
p {
  display: block;
  line-height: 1.5em;
}
.partners {
  width: 10%;
  margin-right: 2%;
}
.footergrid {
  display: grid;
  grid-gap: 1em;
  margin: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footerclass {
  background-color: black;
  color: white;
  text-decoration: none;
  word-wrap: break-word;
}
.footerclass a {
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  .heading a {
    margin-left: 10%;
  }
  nav {
    padding: 1%;
  }
  .background {
    background-image: url(https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg);
    padding: 2em;
  }
  .firstgrid,
  .blackgrid,
  .footergrid,
  .outergrid,
  .secondblackgrid {
    grid-template-columns: 2fr;
  }
  .whitesection,
  .blacksectiontwo,
  .black,
  .partnerssection {
    padding: 2em, 1em;
  }
}
.whitesection {
  margin: 5%;
}
